<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Factura @Factura.Num</h1>
        <table>
            <thead>
                <th>Cod</th>
                <th>Descripción</th>
                <th>Valor</th>
                <th>Cantidad</th>
            </thead>
            <tbody>@Items</tbody>
        </table>
    </div>
</body>

</html>